/* 
DEBUG
*/
/* 
.debug .side-nav-bar footer *{
    background-color: lightcyan;
    border: 1px dashed red;
} */

/* .debug .side-nav-bar footer {
    background-color: lightcyan;
    border: 1px dashed red;
} */

/* .debug .categories{
    background-color: lightcyan;
    border: 1px dashed red;
} */

/* .debug .song-card{
    background-color: lightcyan;
    border: 1px dashed red;
} */

/* .debug .dashboard > div div{
    background-color: lightgreen;
    border: 1px dashed red;
} */