/************************** 
    RESPONSIVE
**************************/

/* TABLET */

@media  and (max-width:1100px) {
    

}


/* MOBILE */

@media  and (max-width:700px) {
    

}


/* MOBILE S */

@media screen and (max-width:600px) {
    
    .side-nav-bar{
        width: 70px; 
    }

    .homepage{
        width: calc(100% - 70px);
        height: calc(100vh -100px);
        top: 0;
        left: 70px;
    }

    .side-nav-bar .container{
        padding: 0 5px;
    }

}