/************************** 
    GENERAL
**************************/

.container{
    width: 100%;
    margin: 0 auto;
    padding: 0px 20px;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #141922;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    display: block;
}


/************************** 
    UTILITY
**************************/

.row{
    display: flex;
}


/************************** 
    MAIN
**************************/

main{
    height: calc(100vh - 100px);
}

.homepage{
    width: calc(100% - 200px);
    position: relative;
    top: 0;
    left: 200px;
    overflow: auto;
}

.banner{
    width:100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    right: 0;
    z-index: 1;
}


/* SIDE NAVIGATION BAR */

.side-nav-bar{
    background-color: black;
    width: 200px;
    height: calc(100vh - 100px);
    position: fixed;
    top: 0;
    left: 0;
}

.side-nav-bar .row{
    flex-wrap: wrap;
    height: 100%;
    align-items: flex-start;
}

.side-nav-bar .row > *{
    width: 100%;
}

.side-nav-bar footer{
    align-self: flex-end;
}






/* BANNER */

.button{
    border: 2px solid white;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 2em;
    padding: 12px 40px;
    list-style: none;
}

.banner{
    text-align: end;
}

.banner a{
    font-size: 0.75em;
}

.banner .button{
    line-height: 80px;
    vertical-align: middle;
}



/* HOMEPAGE CONTENT */

.homepage-content ul li{
    display: inline-block;
}

.homepage-content ul{
    text-align: center;
}

.categories{
    margin: 10px 0px;
}

.categories li{
    margin: 0px 5px;
    padding: 10px 0px;
    cursor: pointer;
    position: relative;
}

.categories li:hover a{
    color: white;
}

.categories li a{
    color: #55585E;
    font-weight: 700;
    font-size: 0.8em;
    padding: 10px 5px;
}

.categories li::after{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 2px;
    width: 50%;
    background-color: green;
    transform: translate(-50%, -50%);
}

.categories li:hover li::after{
    display: block;
}


.song-card{
    width: 180px;
    display: inline-block;
    margin: 10px 5px;
}

.song-description{
    text-align: center;
    padding: 10px 0px;
}

.song-cover{
    position: relative;
}

.song-card:hover{
    filter:grayscale(0.6);
    cursor: pointer;
}

.song-card:hover i{
    display: block;
}

.song-cover i{
    display: none;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    z-index: 1;
    
}

.homepage-content h2{
    color: white;
    margin-top: 10px;
}

.cards-row h2:first-of-type{
    margin-bottom: 15px;
}

.cards-row{
    flex-wrap: wrap;
}

.cards-row > h2{
    width: 100%;
}

.cards-row > h5{
    width: 100%;
}

.homepage-content h5{
    padding: 10px 0px;
    color: #55585E;
 }

 .song-description h4{
    color: white;
    padding-top: 5px;
 }

 .artists img{
    border-radius: 50%;
 }


/************************** 
    FOOTER
**************************/

body > footer{
    z-index: 3;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100px;
}

.dashboard{
    width: 100%;
    height: 100%;
    background-color: #282828;
    justify-content: space-between;
}

.dashboard .right-interactions{
    line-height: 100px;
}

.middle-interactions{
    flex-wrap: wrap;
}

.middle-interactions > *{
    width: 100%;
    line-height: 50px;
    text-align: center;
}

.left-interactions div:first-child{
    scale: 50%;
}

.left-interactions div:first-child img{
    height: 100%;
}

.left-interactions div:nth-child(2){
    flex-wrap: wrap;
    align-items: center;
    margin: auto 0;
}

.left-interactions div:nth-child(2) p{
    width: 100%;
    font-size: 0.75em;
    font-weight: 600;
    color: #55585E;
}

.left-interactions div:nth-child(3) *{
    line-height: 100px;
    padding-left: 2px;
    color: #55585E;
}

